@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Muli:wght@300;400;600;700&display=swap";
@import "bootstrap-datepicker.min.css";
@import "bootstrap.min.css";
header {
  position: relative;
}

.bg-light {
  background-color: #FFFFFF !important;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #4F4F4F;
  letter-spacing: 0.2px;
  margin: 32px 20px;
  padding: 0;
  display: inline-block;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
  color: #574A97;
}

.rent-now-btn, .rent-btn, .check-btn {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  background-color: #776FC3;
  color: #FFFFFF;
  border-radius: 25px;
  border-color: #776FC3;
  letter-spacing: 0.3px;
  text-align: center;
  padding: 12px 18px;
}
.rent-now-btn:hover, .rent-btn:hover, .check-btn:hover {
  background-color: #776FC3;
  border-color: #776FC3;
}

.hero-section {
  background-image: url("../images/picture_bg.svg");
  background-position: right;
  background-repeat: no-repeat;
  padding: 110px 0px 187px;
}
@media screen and (max-width: 576px) {
  .hero-section {
    background-image: url("../images/picture_bg_mobile.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding: 67px 0px 71px;
  }
}

.main-title {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #574A97;
  line-height: 70px;
  margin-bottom: 27px;
}
@media screen and (max-width: 576px) {
  .main-title {
    font-size: 34px;
    line-height: 70px;
    letter-spacing: 0.2px;
    margin-bottom: 23px;
    text-align: left;
  }
}

.hero-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #8F8D9A;
  margin-bottom: 40px;
}
@media screen and (max-width: 576px) {
  .hero-text {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 24px;
  }
}

.rent-btn, .check-btn {
  font-size: 20px;
  line-height: 25px;
  background-color: #776FC3;
  border-color: #776FC3;
  padding: 20px 48px;
  box-shadow: 0px 15px 18px rgba(87, 74, 151, 0.21);
}
.rent-btn:hover, .check-btn:hover {
  background-color: #776FC3;
  border-color: #776FC3;
}

.features-section {
  padding: 71px 0px 106px;
}
@media screen and (max-width: 992px) {
  .features-section {
    padding: 111px 0px 69px;
  }
}

.features-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #4F4F4F;
}
.features-text span {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #8F8D9A;
  display: block;
}
@media screen and (max-width: 992px) {
  .features-text {
    margin-bottom: 75px;
  }
}

.led-uplight-bg {
  background-image: url("../images/led_uplight_bg.svg");
  background-repeat: no-repeat;
  background-position: top;
}

@media screen and (max-width: 992px) {
  .led-uplight-margin {
    margin-bottom: 91px;
  }
}

.calendar-section {
  background-image: url("../images/reservation_bg.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding: 85px 0px;
}
@media screen and (max-width: 1200px) {
  .calendar-section {
    background-image: none;
    background-color: #E5F7FF;
    padding: 61px 0px 71px;
  }
}

.calendar-title {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  letter-spacing: 0.2px;
  color: #574A97;
  padding-bottom: 24px;
}
@media screen and (max-width: 576px) {
  .calendar-title {
    font-size: 24px;
    line-height: 30px;
  }
}

.calendar-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #8F8D9A;
  padding-bottom: 50px;
}
@media screen and (max-width: 576px) {
  .calendar-text {
    padding-bottom: 0px;
  }
}

.datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover {
  background-color: #776FC3;
  border-radius: 50px;
  color: #F2F2F2;
  background-image: none;
  opacity: 1;
}
.datepicker table tr td.today:hover, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover, .datepicker table tr td.today:hover:hover {
  background-color: #776FC3;
  color: #F2F2F2;
  background-image: none;
}

.datepicker table tr td.new, .datepicker table tr td.old {
  color: #8F8D9A;
  opacity: 0.2;
}

.datepicker td, .datepicker th {
  padding: 10px;
}

.table-condensed {
  width: 100%;
  height: 100%;
}

.datepicker-inline {
  width: 100%;
  height: 100%;
}

.datepicker .datepicker-switch {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #284458;
  background-color: #E5F7FF;
  border-radius: 15px;
}

@media screen and (max-width: 992px) {
  #datetimepicker1 {
    margin: 30px 0px;
  }
}

.day {
  color: #8F8D9A;
  opacity: 0.6;
}

.dow {
  color: #574A97;
}

@media screen and (min-width: 992px) {
  .check-btn {
    position: absolute;
    top: -117px;
  }
}

.testimonials-section {
  background-color: #F8FAFB;
  padding: 71px 0px 137px;
}

.card {
  border: 1px solid #D0D9DD;
  border-radius: 0;
}

.review-title {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #000000;
}

.review-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-top: 10px;
}

.circle-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  font-size: 32px;
  border-width: 2px;
  background: rgba(40, 68, 88, 0.08);
  border-image: initial;
  border-radius: 50%;
  position: relative;
}

.person-img {
  position: absolute;
  left: 25px;
  top: 22px;
}

.star-rating {
  letter-spacing: 5px;
}

.star-icon {
  color: #C4C4C4;
  width: 13px;
  height: 13px;
}

.date-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.2px;
  color: #284458;
}

.carousel-indicators {
  position: absolute;
  bottom: -73px;
  text-align: left;
  float: left;
  right: inherit;
  left: 0 !important;
  margin-left: 0;
}
.carousel-indicators li {
  background-color: #C4C4C4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .card-hidden {
    display: none;
  }
}

.awards-section {
  background-image: url("../images/awards_picture.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 97px 0px 84px;
}

footer {
  background-color: #EEF4F7;
  padding: 54px 0px 52px;
}

.footer-title-big {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #284458;
}

.footer-title-small {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #574A97;
  margin-top: 23px;
  margin-bottom: 23px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li > a {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #8F8D9A;
}
footer ul li > a:hover {
  color: #8F8D9A;
  text-decoration: none;
}

.address-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #284458;
}
@media screen and (max-width: 992px) {
  .address-text {
    display: none;
  }
}

.copyright-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #8F8D9A;
}

.copyright-margin {
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  .copyright-margin {
    margin-top: 30px;
  }
}

.social-margin {
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  .social-margin {
    margin-top: 17px;
  }
}

.social-img, .pinterest-icon, .twitter-icon, .facebook-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  color: #FBFAFD;
  background-color: #776FC3;
  line-height: 28px;
  font-size: 15px;
  text-align: center;
  border-radius: 50%;
}

.footer-city-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #BDBDBD;
  margin-top: 59px;
}

/*# sourceMappingURL=style.css.map */
