@import "https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Muli:wght@400;600;700&display=swap";
@import "bootstrap-datepicker.min.css";
@import "bootstrap.min.css";
h1 {
  font-family: "Arvo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  color: #574A97;
  margin-bottom: 24px;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 18px;
  }
}

h2 {
  font-family: "Arvo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #4F4F4F;
  margin-bottom: 14px;
}
@media screen and (max-width: 992px) {
  h2 {
    font-size: 20px;
    line-height: 36px;
  }
}

.big-paragraph {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #8F8D9A;
  margin-bottom: 35px;
}
@media screen and (max-width: 992px) {
  .big-paragraph {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 28px;
  }
}

.default-paragraph {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F8D9A;
  padding-bottom: 36px;
}
@media screen and (max-width: 992px) {
  .default-paragraph {
    padding-bottom: 0px;
  }
}

.small-paragraph {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #8F8D9A;
  display: block;
  margin-bottom: 37px;
}
@media screen and (max-width: 992px) {
  .small-paragraph {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 92px;
  }
}

.btn-primary {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  background-color: #776FC3;
  color: #FFFFFF;
  border-radius: 25px;
  border-color: #776FC3;
  letter-spacing: 0.3px;
  text-align: center;
  padding: 12px 18px;
}
.btn-primary:hover {
  background-color: #776FC3;
  border-color: #776FC3;
}

header {
  position: relative;
}

.bg-light {
  background-color: #FFFFFF !important;
}
@media screen and (max-width: 576px) {
  .bg-light {
    box-shadow: 0px 1px 3px rgba(40, 68, 88, 0.22);
  }
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #4F4F4F;
  letter-spacing: 0.2px;
  margin: 32px 20px;
  padding: 0;
  display: inline-block;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
  color: #574A97;
}

.datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover {
  background-color: #776FC3;
  border-radius: 50px;
  color: #F2F2F2;
  background-image: none;
  opacity: 1;
}
.datepicker table tr td.today:hover, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover, .datepicker table tr td.today:hover:hover {
  background-color: #776FC3;
  color: #F2F2F2;
  background-image: none;
}

.datepicker table tr td.new, .datepicker table tr td.old {
  color: #8F8D9A;
  opacity: 0.2;
}

.datepicker td, .datepicker th {
  padding: 10px;
}

.table-condensed {
  width: 100%;
  height: 100%;
}

.datepicker-inline {
  width: 100%;
  height: 100%;
}

.datepicker .datepicker-switch {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6CB3D2;
  background-color: #E5F7FF;
  border-radius: 15px;
}

.carousel-indicators .active {
  background-color: #776FC3;
}

@media screen and (max-width: 992px) {
  #datetimepicker1 {
    margin: 30px 0px;
  }
}

.day {
  color: #8F8D9A;
  opacity: 0.6;
}

.dow {
  color: #574A97;
}

.btn-secondary {
  background-color: #FFFFFF;
  border-color: transparent !important;
  color: rgba(87, 74, 151, 0.43);
  border-radius: 25px;
  margin-bottom: 27px;
  padding: 20px 30px;
}
.btn-secondary:hover {
  background-color: #FFFFFF;
  border-color: transparent !important;
  color: rgba(87, 74, 151, 0.43);
}
@media screen and (min-width: 992px) {
  .btn-secondary {
    position: absolute;
    top: -135px;
  }
}

.dropdown-toggle::after {
  color: rgba(87, 74, 151, 0.46);
  margin-left: 87px;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #FFFFFF;
  border-color: transparent !important;
  color: rgba(87, 74, 151, 0.43);
}

.dropdown-item {
  color: rgba(87, 74, 151, 0.43);
}

.card {
  background-color: #FCFAFD;
  border: none;
}

.card-body {
  position: relative;
}

.carousel-indicators {
  position: absolute;
  bottom: -73px;
  text-align: left;
  float: left;
  right: inherit;
  left: 0 !important;
  margin-left: 0;
}
.carousel-indicators li {
  background-color: #C4C4C4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.accordion > .card:after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(143, 141, 154, 0.46);
  margin-bottom: 10px;
}

.card-header {
  background-color: #FCFAFD;
  border: none;
  padding: 0.75rem 0.15rem;
}

.card .card-header .btn-link:after {
  content: url(../images/home/arrow_up.svg);
  float: right;
}

.card .card-header .btn-link.collapsed:after {
  content: url(../images/home/arrow_down.svg);
}

.btn-link {
  display: block;
  text-align: left;
}

.btn-link.focus, .btn-link:focus {
  text-decoration: none;
}

.hero-section {
  background-image: url("../images/home/picture_bg.png");
  background-position: right;
  background-repeat: no-repeat;
  padding: 110px 0px 187px;
}
@media screen and (max-width: 992px) {
  .hero-section {
    background-image: url("../images/home/picture_bg_mobile.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 67px 0px 71px;
  }
}

.hero-title {
  font-family: "Arvo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  color: #574A97;
  line-height: 56px;
  margin-bottom: 49px;
}
@media screen and (max-width: 992px) {
  .hero-title {
    font-size: 34px;
    line-height: 70px;
    letter-spacing: 0.2px;
    margin-bottom: 23px;
    text-align: left;
  }
}

.rent-btn, .see-full-faq-btn, .extras-rent-btn, .check-btn {
  font-size: 20px;
  line-height: 25px;
  padding: 20px 48px;
  box-shadow: 0px 15px 18px rgba(87, 74, 151, 0.21);
}

.features-section {
  padding: 71px 0px 106px;
}
@media screen and (max-width: 992px) {
  .features-section {
    padding: 111px 0px 69px;
  }
}

.led-uplight-bg {
  background-image: url("../images/home/led_uplight_bg.svg");
  background-repeat: no-repeat;
  background-position: top;
  top: 40px;
}

@media screen and (max-width: 992px) {
  .led-uplight-margin {
    margin-bottom: 140px;
  }
}

.calendar-section {
  background-image: url("../images/home/reservation_bg.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 85px 0px 103px;
}
@media screen and (max-width: 1200px) {
  .calendar-section {
    background-image: none;
    background-color: #E5F7FF;
    padding: 61px 0px 71px;
  }
}

@media screen and (min-width: 992px) {
  .check-btn {
    position: absolute;
    top: -45px;
  }
}

.extras-section {
  background-image: url("../images/home/extras_bg.png");
  background-repeat: no-repeat;
  padding: 23px 0px 106px;
}
@media screen and (max-width: 992px) {
  .extras-section {
    padding: 46px 0px 79px;
  }
}

.extras-card {
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(210, 241, 255, 0.6);
  border-radius: 30px;
  border: none;
  margin-top: 74px;
}
@media screen and (max-width: 992px) {
  .extras-card {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 992px) {
  .extras-title {
    text-align: left;
    margin-bottom: 9px;
  }
}

.price-text {
  font-family: "Arvo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #574A97;
  margin-bottom: 14px;
}
@media screen and (max-width: 992px) {
  .price-text {
    text-align: left;
    margin-bottom: 30px;
  }
}

.extras-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #8F8D9A;
  margin-bottom: 26px;
}
@media screen and (max-width: 992px) {
  .extras-text {
    display: none;
  }
}

.pinspot-img {
  background-image: url("../images/home/blue_shading_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 30px;
  margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
  .pinspot-img {
    background-image: url("../images/home/blue_shading_bg_mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 25px;
    margin-bottom: 0px;
  }
}

.pngwing-img {
  background-image: url("../images/home/blue_shading_bg_2.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 992px) {
  .pngwing-img {
    background-image: url("../images/home/blue_shading_bg_mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 25px;
  }
}

.preview-img {
  background-image: url("../images/home/blue_shading_bg_3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 30px;
  margin-bottom: 6px;
}
@media screen and (max-width: 992px) {
  .preview-img {
    background-image: url("../images/home/blue_shading_bg_mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 25px;
    margin-bottom: 0px;
  }
}

.extras-rent-btn {
  border-radius: 20px;
  padding: 15px 40px;
  font-size: 16px;
  line-height: 20px;
}

.img-position {
  position: relative;
  top: -50px;
}

.extras-position {
  position: absolute;
}

.testimonials-section {
  background-color: #FCFAFD;
  padding: 115px 0px 136px;
}

.testimonials-card {
  background-color: #FFFFFF;
  border-radius: 30px;
  border: none;
  margin-bottom: 55px;
}

.review-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9F9CAB;
  margin-top: 28px;
}

.review-name {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #574A97;
  margin-top: 55px;
}
.review-name span {
  display: block;
  font-weight: 400;
  margin-top: 7px;
}

.review-name-second {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #574A97;
  margin-top: 34px;
}
.review-name-second span {
  display: block;
  font-weight: 400;
  margin-top: 7px;
}

.review-name-position {
  position: relative;
  top: 20px;
}

.review-photo-bg {
  background-image: url("../images/home/review_photo_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 25px;
  position: relative;
  top: 70px;
}

.review-photo-two-bg {
  background-image: url("../images/home/review_photo_two_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 25px;
  position: relative;
  top: 50px;
}

.circle-img {
  width: 87px;
  height: 87px;
  display: inline-block;
  border: 7px solid #574A97;
  box-shadow: 0px 4px 20px #776FC3;
  border-radius: 30px;
}

.person-img {
  position: absolute;
  left: 25px;
  top: 22px;
}

.star-rating {
  letter-spacing: 5px;
}

.date-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.2px;
  color: #284458;
}

@media screen and (max-width: 992px) {
  .card-hidden {
    display: none;
  }
}

.question-section {
  background-color: #FCFAFD;
  padding-bottom: 159px;
}
@media screen and (max-width: 992px) {
  .question-section {
    padding: 90px 0px 125px;
  }
}

.question-title {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #574A97;
}
.question-title:hover {
  text-decoration: none;
  color: #574A97;
}

.question-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #8F8D9A;
  margin-top: 20px;
  margin-left: 20px;
}

.accordion-margin {
  margin-bottom: 62px;
}

.see-full-faq-btn {
  color: #574A97;
  background-color: #FFFFFF;
  border: 2px solid #574A97;
  border-radius: 25px;
  box-shadow: 0px 15px 18px rgba(87, 74, 151, 0.21);
}

.awards-section {
  background-image: url("../images/home/awards_picture.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 97px 0px 84px;
}

.awards-card {
  background: #FFFFFF;
  box-shadow: 0px 4px 25px #574A97;
  border-radius: 30px;
  border: none;
}
@media screen and (max-width: 1200px) {
  .awards-card {
    margin-bottom: 26px;
  }
}

.awards-card-title {
  font-family: "Arvo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 35px;
  color: #776FC3;
}
.awards-card-title span {
  font-family: "Arvo", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 35px;
  color: #574A97;
}
.awards-card-title:after {
  content: "";
  display: block;
  height: 1px;
  background-color: #E0E0E0;
}

.awards-card-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 13px;
  color: #4F4F4F;
  margin-top: 2px;
}

footer {
  background-color: #EEF4F7;
  padding: 54px 0px 52px;
}

.footer-title-big {
  font-family: "Arvo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #284458;
}

.footer-title-small {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #574A97;
  margin-top: 23px;
  margin-bottom: 23px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li > a {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #8F8D9A;
}
footer ul li > a:hover {
  color: #8F8D9A;
  text-decoration: none;
}

.address-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #284458;
}
@media screen and (max-width: 992px) {
  .address-text {
    display: none;
  }
}

.copyright-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #8F8D9A;
}

.copyright-margin {
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  .copyright-margin {
    margin-top: 30px;
  }
}

.social-margin {
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  .social-margin {
    margin-top: 17px;
  }
}

.footer-city-text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #BDBDBD;
  margin-top: 59px;
}
@media screen and (max-width: 992px) {
  .footer-city-text {
    text-align: center;
    margin-top: 44px;
  }
}

/*# sourceMappingURL=style.css.map */
