@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Muli:wght@300;400;600;700&display=swap";
@import "bootstrap-datepicker.min.css";
@import "bootstrap.min.css";

$font-family-primary: 'Muli', sans-serif;
$font-family-secondary: 'Lato', sans-serif;

@mixin max-screen($number) {
  @media screen and (max-width: $number) {
    @content;
  }
}

header {
  position: relative;
}

.bg-light {
  background-color: #FFFFFF!important;
}

.navbar-light .navbar-nav .nav-link {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #4F4F4F;
  letter-spacing: 0.2px;
  margin: 32px 20px;
  padding: 0;
  display: inline-block;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
  color: #574A97;
}

.rent-now-btn {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  background-color: #776FC3;
  color: #FFFFFF;
  border-radius: 15px;
  border-color: #776FC3;
  letter-spacing: 0.3px;
  text-align: center;
  padding: 12px 18px;
  &:hover {
    background-color: #776FC3;
    border-color: #776FC3;
  }
}

.hero-section {
  background-color: #F1F5F8;
  background-image: url("../images/picture_bg.svg");
  background-position: right;
  background-repeat: no-repeat;
  padding: 163px 0px 187px;
  @include max-screen(576px) {
    background-color: #F8FAFB;
    background-image: url("../images/picture_bg_mobile.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding: 67px 0px 71px;
  }
}

.main-title {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  color: #373F41;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
  @include max-screen(576px) {
    font-size: 40px;
    margin-bottom: 34px;
    text-align: left;
  }
}

.hero-text {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #737B7D;
  line-height: 50px;
  margin-bottom: 40px;
  @include max-screen(576px) {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 24px;
  }
}

.rent-btn {
  @extend .rent-now-btn;
  font-size: 20px;
  line-height: 25px;
  background-color: #284458;
  border-color: #284458;
  border-radius: 0px;
  padding: 20px 48px;
  &:hover {
    background-color: #284458;
    border-color: #284458;;
  }
}

.features-section {
  background-color: rgba(15, 89, 141, 0.04);
  padding: 71px 0px 70px;
  @include max-screen(992px) {
    padding: 78px 0px 20px;
  }
}

.features-text {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #284458;
  padding-top: 15px;
  span {
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #284458;
    display: block;
  }
  @include max-screen(992px) {
    margin-bottom: 75px;
  }
}

.calendar-section {
  padding: 129px 0px;
  @include max-screen(576px) {
    padding: 72px 0px 100px;
  }
}

.calendar-title {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  letter-spacing: 0.2px;
  color: #373F41;
  padding-bottom: 34px;
  @include max-screen(576px) {
    font-size: 24px;
    line-height: 30px;
  }
}

.calendar-text {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #737B7D;
  padding-bottom: 47px;
  @include max-screen(576px) {
    padding-bottom: 0px;
  }
}

.datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover {
  background-color: #284458;
  color: #F2F2F2;
  background-image: none;
  &:hover {
    background-color: #284458;
    color: #F2F2F2;
    background-image: none;
  }
}

.datepicker td, .datepicker th {
  padding: 10px;
}

.datepicker .datepicker-switch {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #284458;
  background-color: #F5F9FC;
  border-radius: 15px;
}

#datetimepicker1 {
  @include max-screen(576px) {
    margin: 30px 0px;
  }
}

.day {
  color: #284458;
  opacity: 0.6;
}

.check-btn {
  @extend .rent-btn;
  position: absolute;
  top: -117px;
  @include max-screen(992px) {
    position: absolute;
    top: 0;
  }
}

.testimonials-section {
  background-color: #F8FAFB;
  padding: 71px 0px 137px;
}

.card {
  border: 1px solid #D0D9DD;
  border-radius: 0;
}

.review-title {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #000000;
}

.review-text {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-top: 10px;
}

.circle-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  font-size: 32px;
  border-width: 2px;
  background: rgba(40, 68, 88, 0.08);
  border-image: initial;
  border-radius: 50%;
  position: relative;
}

.person-img {
  position: absolute;
  left: 25px;
  top: 22px;
}

.star-rating {
  letter-spacing: 5px;
}

.star-icon {
  color: #C4C4C4;
  width: 13px;
  height: 13px;
}

.date-text {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.2px;
  color: #284458;
}

.carousel-indicators {
  position: absolute;
  bottom: -73px;
  text-align: left;
  float: left;
  right: inherit;
  left: 0!important;
  margin-left: 0;
  li {
    background-color: #C4C4C4;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.card-hidden {
  @include max-screen(992px) {
    display: none;
  }
}

footer {
  background-color: #EEF4F7;
  padding: 64px 0px 52px;
}

.logo-title {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #284458;
}

.home-title {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #284458;
}

footer ul{
  list-style-type: none;
  padding: 0;
  li > a {
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #284458;
    &:hover {
      color: #284458;
      text-decoration: none;
    }
  }
}

.address-text {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #284458;
  margin-top: 21px;
}

.copyright-margin {
  margin-top: 57px;
}

.copyright-text {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #BEC8D0;
}

.social-img {
  display: inline-block;
  width: 28px;
  height: 28px;
  color: #EEF4F7;
  background-color: rgba(40, 68, 88, 0.7);
  line-height: 28px;
  font-size: 15px;
  text-align: center;
  border-radius: 50%;
}

.facebook-icon {
  @extend .social-img;
  &:hover {
    color: #EEF4F7;
    background-color: #3b5997;
  }
}

.twitter-icon {
  @extend .social-img;
  &:hover {
    color: #EEF4F7;
    background-color: #3ec2f3;
  }
}

.pinterest-icon {
  @extend .social-img;
  &:hover {
    color: #EEF4F7;
    background-color: #e94438;
  }
}



