@import "variables";

.bg-light {
  background-color: $light-white-color!important;
}

.bg-white {
  background-color: $white-color!important;
}

.bg-purple {
  background-color: $dark-purple-color;
}

.bg-shape-1 {
  background-image: url("../images/shapes/bg-shape-1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shape-2 {
  background-image: url("../images/shapes/bg-shape-2.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shape-3 {
  background-image: url("../images/shapes/bg-shape-3.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shape-4 {
  background-image: url("../images/shapes/bg-shape-4.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shape-5 {
  background-image: url("../images/shapes/bg-shape-5.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shape-6 {
  background-image: url("../images/shapes/bg-shape-6.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shape-7 {
  background-image: url("../images/shapes/bg-shape-7.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.bg-shape-8 {
  background-image: url("../images/shapes/bg-shape-8.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.bg-shape-9 {
  background-image: url("../images/shapes/bg-shape-9.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.bg-shape-lg {
  @include max-screen($lg-screen) {
    background-image: url("../images/shapes/bg-shape-lg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 25px;
  }
}

.bg-shape-11 {
  background-color: $light-blue-color;
  border-radius: 25px;
  padding: 11px 11px;
}

