@import "variables";

.bg-light {
  background-color: $light-white-color!important;
}

.bg-white {
  background-color: $white-color!important;
}

.bg-shape-1 {
  background-image: url("../images/shapes/bg-shape-1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shape-2 {
  background-image: url("../images/shapes/bg-shape-2.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shape-3 {
  background-image: url("../images/shapes/bg-shape-3.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shape-4 {
  background-image: url("../images/shapes/bg-shape-4.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shape-5 {
  background-image: url("../images/shapes/bg-shape-5.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shape-6 {
  background-image: url("../images/shapes/bg-shape-6.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
