@import "variables";

.font-secondary {
  font-family: $font-family-secondary!important;
}

.text-primary {
  color: $dark-purple-color!important;
}

.text-info {
  color: $light-purple-color!important;
}

.text-secondary {
  color: $gray-color!important;
}

.text-muted {
  color: $light-gray-color!important;
}

.text-dark {
  color: $dark-black-color!important;
}

.text-light {
  color: $light-white-color!important;
}

.text-warning {
  color: $yellow-color!important;
}