@import "mixins";
@import "variables";

// ------------------------
// Standard elements
// ------------------------

// Global fonts configuration

html {
  font-family: $font-family-primary!important;
}

body {
  font-family: $font-family-primary!important;
}

//

header {
  position: relative;
}

h1 {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  color: $dark-purple-color;
  margin-bottom: 24px;
  text-transform: capitalize;
  @include max-screen($lg-screen) {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 18px;
  }
  span {
    text-transform: uppercase;
  }
}
  
h2{
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: $black-dark-color;
  margin-bottom: 14px;
  text-transform: capitalize;
  @include max-screen($lg-screen) {
    font-size: 20px;
    line-height: 36px;
  }
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #BDBDBD;
  margin-top: 59px;
  @include max-screen($lg-screen) {
    text-align: center;
    margin-top: 28px;
  }
}

.display-3 {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  color: $dark-purple-color;
  line-height: 56px;
  margin-bottom: 49px;
  text-transform: capitalize;
  @include max-screen($lg-screen) {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    margin-bottom: 23px;
    text-align: left;
  }
}

footer {
  padding: 20px 0px 40px;
}

footer ul{
  list-style-type: none;
  padding: 0;
  li > a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $gray-color;
    &:hover {
      color: $gray-color;
      text-decoration: none;
    }
  }
}

.col-xss-12  {
  @include max-screen($xss-screen) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

// ---------------
// Font sizes
// ---------------

.font-size-xl {
  font-size: 28px;
}

.font-size-lg {
  font-size: 23px;
}

.font-size-md {
  font-size: 18px;
}

.font-size-sm {
  font-size: 16px;
}

.font-size-xs {
  font-size: 14px;
}

.font-size-xss {
  font-size: 14px;
}


