@import "mixins";
@import "variables";

@font-face {
  font-family: 'Arvo';
  src: url('../fonts/Arvo.eot');
  src: url('../fonts/Arvo.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Arvo.woff2') format('woff2'),
  url('../fonts/Arvo.woff') format('woff'),
  url('../fonts/Arvo.ttf') format('truetype'),
  url('../fonts/Arvo.svg#Arvo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arvo';
  src: url('../fonts/Arvo-Bold.eot');
  src: url('../fonts/Arvo-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Arvo-Bold.woff2') format('woff2'),
  url('../fonts/Arvo-Bold.woff') format('woff'),
  url('../fonts/Arvo-Bold.ttf') format('truetype'),
  url('../fonts/Arvo-Bold.svg#Arvo-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Regular.eot');
  src: url('../fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Muli-Regular.woff2') format('woff2'),
  url('../fonts/Muli-Regular.woff') format('woff'),
  url('../fonts/Muli-Regular.ttf') format('truetype'),
  url('../fonts/Muli-Regular.svg#Muli-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Bold.eot');
  src: url('../fonts/Muli-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Muli-Bold.woff2') format('woff2'),
  url('../fonts/Muli-Bold.woff') format('woff'),
  url('../fonts/Muli-Bold.ttf') format('truetype'),
  url('../fonts/Muli-Bold.svg#Muli-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-SemiBold.eot');
  src: url('../fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Muli-SemiBold.woff2') format('woff2'),
  url('../fonts/Muli-SemiBold.woff') format('woff'),
  url('../fonts/Muli-SemiBold.ttf') format('truetype'),
  url('../fonts/Muli-SemiBold.svg#Muli-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// ------------------------
// Standard elements
// ------------------------

// Global fonts configuration

html {
  font-family: $font-family-primary!important;
}

body {
  font-family: $font-family-primary!important;
}

//

h1 {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  color: $dark-purple-color;
  text-transform: capitalize;
  @include max-screen($lg-screen) {
    font-size: 22px;
    line-height: 27px;
  }
  span {
    text-transform: uppercase;
  }
}
  
h2{
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: $dark-black-color;
  text-transform: capitalize;
  @include max-screen($lg-screen) {
    font-size: 20px;
    line-height: 36px;
  }
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #BDBDBD;
}

.display-3 {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  color: $dark-purple-color;
  line-height: 56px;
  text-transform: capitalize;
  @include max-screen($lg-screen) {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    text-align: left;
  }
}

footer {
  padding: 20px 0px 40px;
}

footer ul{
  list-style-type: none;
  padding: 0;
  li > a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $gray-color;
    &:hover {
      color: $gray-color;
      text-decoration: none;
    }
  }
}

.col-xss-12 {
  @include max-screen($xss-screen) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

// ---------------
// Font sizes
// ---------------

.font-size-xxl {
  font-size: 48px;
}

.font-size-xxl-responsive {
  @extend .font-size-xxl;
  @include max-screen($xs-screen) {
    font-size: 40px;
  }
}

.font-size-xl {
  font-size: 28px;
}

.font-size-lg {
  font-size: 23px;
}

.font-size-md {
  font-size: 18px;
}

.font-size-md-responsive {
  @extend .font-size-md;
  @include max-screen($xs-screen) {
    font-size: 15px;
  }
}

.font-size-sm {
  font-size: 16px;
}

.font-size-sm-responsive {
  @extend .font-size-sm;
  @include max-screen($xs-screen) {
    font-size: 13px;
  }
}

.font-size-small {
  font-size: 12px;
}

.font-size-xs {
  font-size: 14px;
}

.font-size-xs-responsive {
  @extend .font-size-xs;
  @include max-screen($sm-screen) {
    font-size: 12px;
  }
}

.font-size-xss {
  font-size: 9px;
}

// -------------------
// Display
// -------------------

.d-lg-flow-root {
  @include min-width($lg-screen) {
    display: flow-root;
  }
}

// -------------------
// Colours 
// -------------------

$colours:
  "white" $white-color,
  "light-white" $light-white-color,
  "light-purple" $light-purple-color,
  "dark-purple" $dark-purple-color,
  "light-blue" $light-blue-color,
  "light-gray" $light-gray-color,
  "gray" $gray-color,
  "dark-black" $dark-black-color,
  "light-white" $light-white-color,
  "yellow" $yellow-color;
  
@each $i in $colours{
	.#{nth($i, 1)}-background {
		background-color: nth($i, 2);
	}
	.#{nth($i, 1)}-color {
		color:nth($i, 2);
	}
}

i[class^="diy-icon-"], i[class*=" diy-icon-"] {
  font-family: diy-icon !important;
  margin: auto;
}

.scrollable{
  overflow-y: auto;
  max-height: 150px;
}

.min-h-50 {
  min-height: 50px!important;
}

.min-w-50 {
  min-width: 38px!important;
}