$font-family-primary: 'Muli', sans-serif;
$font-family-secondary: 'Arvo', sans-serif;
$light-purple-color: #776FC3;
$dark-purple-color: #574A97;
$light-blue-color: #E5F7FF;
$gray-color: #8F8D9A;
$black-color: #4F4F4F;
$black-dark-color: #284458;