$font-family-primary: 'Muli', sans-serif;
$font-family-secondary: 'Arvo', sans-serif;
$white-color: #FCFAFD;
$light-white-color: #FFFFFF;
$light-purple-color: #776FC3;
$dark-purple-color: #574A97;
$light-blue-color: #E5F7FF;
$gray-light-color: #BDBDBD;
$gray-color: #8F8D9A;
$black-dark-color: #284458;
$sm-screen: 576px;
$lg-screen: 992px;
$xl-screen: 1200px;

