@font-face {
    font-family: "diy-icon";
    src: url("../fonts/diy-icon.eot?d76be6f4ea33704c42b766c4324b9e5f?#iefix") format("embedded-opentype"),
url("../fonts/diy-icon.woff2?d76be6f4ea33704c42b766c4324b9e5f") format("woff2"),
url("../fonts/diy-icon.woff?d76be6f4ea33704c42b766c4324b9e5f") format("woff"),
url("../fonts/diy-icon.ttf?d76be6f4ea33704c42b766c4324b9e5f") format("truetype"),
url("../fonts/diy-icon.svg?d76be6f4ea33704c42b766c4324b9e5f#diy-icon") format("svg");
}

i[class^="diy-icon-"]:before, i[class*=" diy-icon-"]:before {
    font-family: diy-icon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.diy-icon-facebook:before {
    content: "\f101";
}
.diy-icon-pinterest:before {
    content: "\f102";
}
.diy-icon-star:before {
    content: "\f103";
}
.diy-icon-twitter:before {
    content: "\f104";
}
