@import url("//code.jquery.com/ui/1.12.1/themes/base/theme.css");
@import "owl.carousel.min.css";
@import "owl.theme.default.css";
@import "bootstrap.min.css";
@import "mixins";
@import "variables";
@import "typography";
@import "jquery-ui-theme";
@import "cards";
@import "navbars";
@import "buttons";
@import "backgrounds";
@import "texts";
@import "borders";
@import "diy-icons.css";
@import "dropdowns";
@import "tabs";
@import "gallery";
@import "tooltips";

.hero-section {
  padding: 90px 0px 76px;
  background-image: none;
  @include max-screen($sm-screen) {
    padding: 30px 0px 17px;;
  }
  p {
    font-size: $font-size-xs!important;
    line-height: 28px;
  }
  .quantity-dropdown::after {
    margin-left: 27px !important;
  }
  .date-dropdown::after {
    margin-left: 51px !important;
  }
  .read-more-link {
    text-decoration: underline;
  }
  .read-less-link {
    text-decoration: underline;
  }
  a.read-more-link.collapsed  {
    display: block;
  }
  a.read-more-link:not(.collapsed)  {
    display: none;
  }
  a.read-less-link.collapsed  {
    display: none;
  }
  a.read-less-link:not(.collapsed)  {
    display: block;
  }
  .owl-dot {
    border: none;
    background-color: transparent;
    display: inline-block;
  }
  .owl-dot span {
    width: 10px;
    height: 10px;
    background-color: #C4C4C4;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
  }
  .owl-dot.active span {
    background-color: $dark-purple-color;
  }
  .product-dot img {
    width: 38px;
    height: 38px;
  }
  .multi-collapse:not(.show) {
    @include min-width($lg-screen) {
      display: inline;
    }
  }
  .owl-stage {
    align-items: center;
  }
  .custom-control-label::before {
    top: 3px;
    left: -20px;
  }
  .custom-control-label::after {
    top: 3px;
    left: -20px;
  }
  .icon-card {
    position: absolute;
    top: -10px;
    right: -3px;
  }
}

.form-inline .custom-select, .form-inline .input-group {
  width: 100%;
}

.gallery-section {
  .btn-secondary {
    background-color: #F2F2F2;
    &:hover {
      background-color: $light-white-color;
      border-color: transparent !important;
      color: rgba(87, 74, 151, 0.43);
    }
  }

  .btn-secondary.focus, .btn-secondary:focus {
    color: rgba(87, 74, 151, 0.43);
    background-color: $light-white-color;
  }

  .dropdown-toggle::after {
    margin-left: 150px;
  }
}

.resources-section {
  padding: 71px 0px 131px;
}

.btn.disabled, .btn:disabled {
  opacity: 1.65;
}

.led-uplight-img {
  border-radius: 25px;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  border-radius: 30px;
}

.embed-responsive-4by3::before {
  padding-top: 55%;
}

.testimonials-section {
  @include max-screen($lg-screen) {
    padding: 50px 0px 62px;
  }

  a {
    text-decoration: underline;
    &:hover {
      color: #828282;
    }
  }
}