@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Muli:wght@400;600;700&display=swap");
@import url("//code.jquery.com/ui/1.12.1/themes/base/theme.css");
@import "owl.carousel.min.css";
@import "owl.theme.default.css";
@import "bootstrap.min.css";
@import "mixins";
@import "variables";
@import "typography";
@import "jquery-ui-theme";
@import "cards";
@import "navbars";
@import "buttons";
@import "backgrounds";
@import "texts";
@import "borders";
@import "diy-icons.css";
@import "dropdowns";
@import "tabs";

.hero-section {
  padding: 90px 0px 76px;
  background-image: none;
  p {
    font-size: $font-size-xs!important;
    line-height: 28px;
  }
  .dropdown-toggle::after {
    margin-left: 27px !important;
  }
}

.rating-desc {
  font-size: 50px;
  line-height: 36px;
  letter-spacing: 0.2px;
  span {
    display: block;
    font-size: $font-size-md;
  }
}

.information-icon {
  @include max-screen(360px) {
    display: none;
  }
}

.resources-section {
  padding: 71px 0px 131px;
  p {
    line-height: 21px;
    letter-spacing: 0.2px;
  }
}

.btn-secondary.disabled, .btn-secondary:disabled {
background-color: #F2F2F2;
}

.btn.disabled, .btn:disabled {
  opacity: 1.65;
}

.btn-secondary {
  position: absolute;
  top: 0px;
}

.btn-light {
  padding: 12px 48px;
}

.btn-secondary {
  padding: 12px 22px;
}

.led-uplight-img {
  border-radius: 25px;
}

.custom-control-input {
  float: left;
  width: 18px;
  height: 18px;
  border: 1px solid $gray-color;
  background: $white-color;
  vertical-align: middle;
  position: relative;
  border-radius: 4px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: $dark-purple-color;
  border-color: $dark-purple-color;
}

.custom-control {
  padding-left: 0px;
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
  box-shadow: none;
  border-color: $dark-purple-color;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  width: 539px;
  height: 295px;
  border-radius: 30px;
}

.embed-responsive-4by3::before {
  padding-top: 55%;
}

.btn-link {
  color: #828282;
}

.testimonials-section {
  a {
    text-decoration: underline;
    &:hover {
      color: #828282;
    }
  }
  .card-body {
    padding-bottom: 28px;
  }
}