@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Muli:wght@400;600;700&display=swap");
@import url("//code.jquery.com/ui/1.12.1/themes/base/theme.css");
@import "owl.carousel.min.css";
@import "owl.theme.default.css";
@import "bootstrap.min.css";
@import "mixins";
@import "variables";
@import "typography";
@import "jquery-ui-theme";
@import "cards";
@import "navbars";
@import "buttons";
@import "backgrounds";
@import "texts";
@import "borders";
@import "diy-icons.css";
@import "dropdowns";
@import "tabs";

.venues-section {
  padding: 44px 0px;
  p {
    font-size: $font-size-sm;
    line-height: 22px;
    @include max-screen($lg-screen) {
      font-size: $font-size-xs;
      line-height: 21px;
    }
  }
  @include max-screen($lg-screen) {
    padding: 24px 0px 44px;
  }
}

#nav-venues {
  .multi-collapse:not(.show) {
    @include min-width($lg-screen) {
      display: block;
    }
  }
  .view-more-venues, .view-less {
    @include min-width($lg-screen) {
      display: none!important;
    }
  }
  a.view-more-venues.collapsed  {
    display: block;
  }

  a.view-more-venues:not(.collapsed)  {
    display: none;
  }

  a.view-less.collapsed  {
    display: none;
  }

  a.view-less:not(.collapsed)  {
    display: block;
  }
}

#nav-cities {
  .multi-collapse:not(.show) {
    @include min-width($lg-screen) {
      display: block;
    }
  }
  .view-more-cities, view-less  {
    @include min-width($lg-screen) {
      display: none!important;
    }
  }
  a.view-more-cities.collapsed  {
    display: block;
  }

  a.view-more-cities:not(.collapsed)  {
    display: none;
  }

  a.view-less.collapsed  {
    display: none;
  }

  a.view-less:not(.collapsed)  {
    display: block;
  }
}

.gallery-section {
  padding: 46px 0px 30px;
  .owl-carousel {
    .owl-item img {
      width: 100%!important;
    }
    .owl-stage {
      padding-left: 0!important;
    }
  }
  button.owl-prev, button.owl-next {
    border: none;
    background-color: transparent;
    font-size: 40px;
    margin-top: -20px;
  }
  button.owl-prev span, button.owl-next span {
    width: 24px;
    height: 24px;
    color: $dark-purple-color;
    margin: 0 5px;
  }
  .owl-dot {
    border: none;
    background-color: transparent;
  }
  .owl-dot span {
    width: 10px;
    height: 10px;
    background-color: #C4C4C4;
    border-radius: 50%;
    display: inline-block;
    margin: 0 12px;
  }
  .owl-dot.active span {
    background-color: $dark-purple-color;
  }

  .owl-item:not(.center) {
    transform: scale(0.8, 0.8);
    @include max-screen($sm-screen) {
      transform: none;
    }
  }
  .gallery-description {
    display: none;
  }
}







