@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Muli:wght@400;600;700&display=swap");
@import url("//code.jquery.com/ui/1.12.1/themes/base/theme.css");
@import "owl.carousel.min.css";
@import "owl.theme.default.css";
@import "bootstrap.min.css";
@import "mixins";
@import "variables";
@import "typography";
@import "jquery-ui-theme";
@import "cards";
@import "navbars";
@import "buttons";
@import "backgrounds";
@import "texts";
@import "borders";
@import "diy-icons.css";
@import "tabs";
@import "gallery";

.venues-section {
  padding: 44px 0px;
  h2 {
    margin-bottom: 36px;
  }
  p {
    font-size: $font-size-sm;
    line-height: 22px;
    @include max-screen($lg-screen) {
      font-size: 12px;
      line-height: 21px;
    }
  }
  @include max-screen($lg-screen) {
    padding: 24px 0px 44px;
  }
}

#nav-venues {
  .multi-collapse:not(.show) {
    @include min-width($lg-screen) {
      display: block;
    }
  }

  .view-more-venues {
    margin-top: 26px;
    @include min-width($lg-screen) {
      display: none;
    }
  }
}

#nav-cities {
  .multi-collapse:not(.show) {
    @include min-width(992px) {
      display: block;
    }
  }

  .view-more-cities {
    margin-top: 26px;
    @include min-width(992px) {
      display: none;
    }
  }
}

.gallery-section {
  padding: 46px 0px 30px;
  h1 {
    margin-bottom: 47px;
  }
  .owl-carousel {
    .owl-item img {
      width: 100%!important;
    }
    .owl-dots {
      text-align: left;
      position: relative;
      top: 80px;
      @include max-screen($sm-screen) {
        top: 130px;
      }
    }
    .owl-nav button.owl-next {
      background-image: url("public/images/state/arrow_next.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
      color: $dark-purple-color;
      @include max-screen($xl-screen) {
        display: none;
      }
    }
    .owl-nav button.owl-prev {
      background-image: url("public/images/state/arrow_prev.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
      color: $dark-purple-color;
      @include max-screen($xl-screen) {
        display: none;
      }
    }
  }
}



