@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Muli:wght@400;600;700&display=swap");
@import url("//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css");
@import "owl.carousel.min.css";
@import "owl.theme.default.css";
@import "bootstrap.min.css";
@import "mixins";
@import "variables";
@import "typography";
@import "jquery-ui-theme";
@import "cards";
@import "navbars";
@import "buttons";
@import "backgrounds";
@import "texts";
@import "borders";
@import "diy-icons.css";

.hero-section {
  background-image: url("../images/home/picture_bg.png");
  background-position: right;
  background-repeat: no-repeat;
  padding: 110px 0px 187px;
  @include max-screen($lg-screen) {
    background-image: url("../images/home/picture_bg_mobile.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 67px 0px 71px;
  }
  p {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 35px;
    @include max-screen($lg-screen) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 28px;
    }
  }
}

.features-section {
  padding: 70px 0px 106px;
  @include max-screen($lg-screen) {
    padding: 15px 0px 13px;
  }
  p {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 37px;
    @include max-screen($lg-screen) {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 56px;
    }
  }
}

.led-uplight-bg {
  background-image: url("../images/home/led_uplight_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 40px;
  @include max-screen($lg-screen) {
    background-position: top;
    top: 0px;
    margin-bottom: 70px;
  }
}

.led-uplight-img {
  max-height: 310px;
  max-width: 100%;
  object-fit: scale-down;
}

.calendar-section {
  background-image: url("../images/home/reservation_bg.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 85px 0px 103px;
  @include max-screen($xl-screen) {
    background-image: none;
    background-color: $light-blue-color;
    padding: 70px 0px 70px;
  }
  p {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 36px;
    @include max-screen($lg-screen) {
      padding-bottom: 0px;
    }
  }
}

.date-picker {
  @include max-screen($lg-screen) {
    margin: 69px 0px;
  }
}

.qty-dropdown::after {
  color: rgba(87, 74, 151, 0.46);
  margin-left: 85px;
}

.extras-section {
  background-image: url("../images/home/extras_bg.png");
  background-repeat: no-repeat;
  padding: 70px 0px 106px;
  @include max-screen($lg-screen) {
    padding-bottom: 24px;
  }
  .card {
    box-shadow: 0px 0px 40px rgba(210, 241, 255, 0.6);
    border-radius: 30px;
    border: none;
    margin-top: 74px;
    @include max-screen($lg-screen) {
      margin-bottom: 70px;
    }
  }
  p {
    font-size: 14px;
    line-height: 21px;
  }
  .btn-primary {
    border-radius: 20px;
    padding: 15px 40px;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    top: 27px;
    margin-top: -47px;
  }
}

.pinspot-img {
  background-image: url("../images/home/blue_shading_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 30px;
  margin-bottom: 23px;
  @include max-screen($lg-screen) {
    background-image: url("../images/home/blue_shading_bg_mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 25px;
    margin-bottom: 0px;
  }
}

.pngwing-img {
  background-image: url("../images/home/blue_shading_bg_2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  @include max-screen($lg-screen) {
    background-image: url("../images/home/blue_shading_bg_mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 25px;
  }
}

.preview-img {
  background-image: url("../images/home/blue_shading_bg_3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 30px;
  margin-bottom: 6px;
  @include max-screen($lg-screen) {
    background-image: url("../images/home/blue_shading_bg_mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 25px;
    margin-bottom: 0px;
  }
}

.equal, .equal > div[class*='col-'] {
  @include fit-to-parent();
}

.owl-stage, .owl-stage > div[class*='item'] {
  @include fit-to-parent();
}

.extras-img-position {
  position: relative;
  top: -50px;
  max-height: 200px;
  object-fit: scale-down;
}

.testimonials-section {
  padding: 115px 0px 86px;
  @include max-screen($lg-screen) {
    padding-top: 70px;
    padding-bottom: 0px;
  }
  .card-body {
    border-radius: 30px;
    border: none;
    padding-bottom: 68px;
  }
}

.star-rating {
  letter-spacing: 2px;
}

.review-name {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-left: auto;
  span {
    display: block;
    font-weight: 400;
  }
}

.testimonials-position {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: -68px;
}

.review-photo-bg {
  background-image: url("../images/home/review_photo_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 25px;
  padding: 17px;
}

.review-photo-two-bg {
  background-image: url("../images/home/review_photo_two_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 25px;
  padding: 17px;
}

.question-section {
  padding-bottom: 159px;
  @include max-screen($lg-screen) {
    padding: 70px 0px;
  }
}

.question-title {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.2px;
  &:hover {
    text-decoration: none;
    color: $dark-purple-color;
  }
}

.question-text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.awards-section {
  background-image: url("../images/home/awards_picture.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 97px 0px 84px;
  .card {
    box-shadow: 0px 4px 25px $dark-purple-color;
    border-radius: 30px;
    border: none;
  }
}

.awards-card-title {
  font-size: 23px;
  line-height: 35px;
  span {
    font-size: 15px;
    line-height: 35px;
    display: block;
  }
  &:after {
    content: "";
    display: block;
    height: 1px;
    background-color: #E0E0E0;
  }
  @include max-screen(360px) {
    font-size: 18px;
  }
}

.awards-card-text {
  font-size: 9px;
  line-height: 13px;
}

.footer-logo-pos {
  position: relative;
  top: 5px;
}

// ------------------------------