@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Muli:wght@400;600;700&display=swap");
@import url("//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css");
@import "owl.carousel.min.css";
@import "owl.theme.default.css";
@import "bootstrap.min.css";
@import "mixins";
@import "variables";
@import "typography";
@import "jquery-ui-theme";
@import "card";
@import "navbar";
@import "buttons";

// ------------------------
// Home page
// ------------------------

.hero-section {
  background-image: url("../images/home/picture_bg.png");
  background-position: right;
  background-repeat: no-repeat;
  padding: 110px 0px 187px;
  @include max-screen(992px) {
    background-image: url("../images/home/picture_bg_mobile.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 67px 0px 71px;
  }
}

.hero-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: $gray-color;
  margin-bottom: 35px;
  @include max-screen(992px) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 28px;
  }
}

.features-section {
  padding: 70px 0px 106px;
  @include max-screen(992px) {
    padding: 15px 0px 13px;
  }
}

.features-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $gray-color;
  display: block;
  margin-bottom: 37px;
  @include max-screen(992px) {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 56px;
  }
}

.led-uplight-bg {
  background-image: url("../images/home/led_uplight_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 40px;
  @include max-screen(992px) {
    background-position: top;
    top: 0px;
    margin-bottom: 70px;
  }
}

.led-uplight-img {
  max-height: 310px;
  max-width: 100%;
  object-fit: scale-down;
}

.calendar-section {
  background-image: url("../images/home/reservation_bg.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 85px 0px 103px;
  @include max-screen(1200px) {
    background-image: none;
    background-color: $light-blue-color;
    padding: 70px 0px 70px;
  }
}

.calendar-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $gray-color;
  padding-bottom: 36px;
  @include max-screen(992px) {
    padding-bottom: 0px;
  }
}

#datepicker {
  @include max-screen(992px) {
    margin: 69px 0px;
  }
}

.qty-dropdown::after {
  color: rgba(87, 74, 151, 0.46);
  margin-left: 85px;
}

.calendar-section .dropdown-menu.show {
  margin-top: 0px;
}

.extras-section {
  background-image: url("../images/home/extras_bg.png");
  background-repeat: no-repeat;
  padding: 70px 0px 106px;
  @include max-screen(992px) {
    padding-bottom: 24px;
  }
}

.extras-section .card {
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(210, 241, 255, 0.6);
  border-radius: 30px;
  border: none;
  margin-top: 74px;
  @include max-screen(992px) {
    margin-bottom: 70px;
  }
}

.extras-section h2 {
  @include max-screen(992px) {
    text-align: left;
    margin-bottom: 9px;
  }
}

.price-text {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $dark-purple-color;
  @include max-screen(992px) {
    text-align: left;
    margin-bottom: 30px;
  }
}

.extras-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $gray-color;
  @include max-screen(992px) {
    text-align: left;
  }
}

.pinspot-img {
  background-image: url("../images/home/blue_shading_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 30px;
  margin-bottom: 23px;
  @include max-screen(992px) {
    background-image: url("../images/home/blue_shading_bg_mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 25px;
    margin-bottom: 0px;
  }
}

.pngwing-img {
  background-image: url("../images/home/blue_shading_bg_2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  @include max-screen(992px) {
    background-image: url("../images/home/blue_shading_bg_mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 25px;
  }
}

.preview-img {
  background-image: url("../images/home/blue_shading_bg_3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 30px;
  margin-bottom: 6px;
  @include max-screen(992px) {
    background-image: url("../images/home/blue_shading_bg_mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 25px;
    margin-bottom: 0px;
  }
}

.extras-section .btn-primary {
  border-radius: 20px;
  padding: 15px 40px;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  top: 27px;
  margin-top: -47px;
}

.equal, .equal > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 0 auto;
}

.owl-stage, .owl-stage > div[class*='item'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 0 auto;
}

.img-position {
  position: relative;
  top: -50px;
  max-width: 100%;
  max-height: 200px;
  object-fit: scale-down;
}

.testimonials-section {
  background-color: #FCFAFD;
  padding: 115px 0px 86px;
  position: relative;
  @include max-screen(992px) {
    padding-top: 70px;
    padding-bottom: 0px;
  }
}

.testimonials-section .card-body {
  background-color: #FFFFFF;
  border-radius: 30px;
  border: none;
  padding-bottom: 68px;
}

.star-rating {
  letter-spacing: 5px;
}

.review-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9F9CAB;
  margin-top: 28px;
}

.review-name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: $dark-purple-color;
  margin-left: auto;
  margin-top: 24px;
  span {
    display: block;
    font-weight: 400;
  }
}

.review-name-position {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: -68px;
}

.review-photo-bg {
  background-image: url("../images/home/review_photo_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 25px;
  padding: 24px;
}

.review-photo-two-bg {
  background-image: url("../images/home/review_photo_two_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 25px;
  padding: 24px;
}

.circle-img {
  width: 87px;
  height: 87px;
  display: inline-block;
  border: 7px solid $dark-purple-color;
  box-shadow: 0px 4px 20px $light-purple-color;
  border-radius: 30px;
}

.question-section {
  background-color: #FCFAFD;
  padding-bottom: 159px;
  @include max-screen(992px) {
    padding: 70px 0px;
  }
}

.question-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: $dark-purple-color;
  &:hover {
    text-decoration: none;
    color: $dark-purple-color;
  }
}

.question-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: $gray-color;
}

.awards-section {
  background-image: url("../images/home/awards_picture.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 97px 0px 84px;
}

.awards-section .card {
  background: #FFFFFF;
  box-shadow: 0px 4px 25px $dark-purple-color;
  border-radius: 30px;
  border: none;
  @include max-screen(1200px) {
    margin-bottom: 26px;
  }
}

.awards-card-title {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 35px;
  color: $light-purple-color;
  span {
    font-family: $font-family-secondary;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 35px;
    color: $dark-purple-color;
    display: block;
  }
  &:after {
    content: "";
    display: block;
    height: 1px;
    background-color: #E0E0E0;
  }
}

.awards-card-text {
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 13px;
  color: $black-color;
  margin-top: 2px;
}

.footer-title-small {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: $dark-purple-color;
  margin-top: 23px;
  margin-bottom: 23px;
}

.footer-logo-pos {
  position: relative;
  top: 5px;
}

.address-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: $black-dark-color;
  margin-top: 23px;
}

.copyright-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: $gray-color;
}

.copyright-margin {
  margin-top: 50px;
  @include max-screen(992px) {
    margin-top: 30px;
  }
}

.social-margin {
  margin-top: 50px;
  @include max-screen(992px) {
    margin-top: 17px;
  }
}

.social-icon {
  margin-right: 8px;
  margin-left: 8px;
}

.footer-city-text {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #BDBDBD;
  margin-top: 59px;
  @include max-screen(992px) {
    text-align: center;
    margin-top: 28px;
  }
}

// ------------------------------
